
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.login-form {
    width: 300px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}
.login-form input,
.login-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
