/*css desktop styles*/
@media (min-width: 1025px) and (max-width: 1280px) {
    .container {
        width: 1024px;
        margin: 0 auto;
        overflow: auto;

    }
    header {
        width: 100%;
        height: 50px;
        background-color: #663333;
    }
    main {
        width: 100%;
        height: 300px;

    }
    footer {
        width: 100%;
        height: 50px;
        background-color: #cf2c2c;
    }
    .sidebar-left {
        width: 20%;
        height: 100%;

        float: left;
    }
    .content {
        float: left;
        width: 60%;

        height: 100%;
    }
    .sidebar-right {
        width: 20%;
        height: 100%;
        background-color: #d89696;
        float: right;
    }
    .list-menu li {
        width: 80%;
        margin: 10px 0;
        background-color: #82b9d1;
        padding: 10px;
        list-style-type: none;
    }
    .list-menu a {
        text-decoration: none;
    }
}
/*css diện thoai*/
@media (max-width: 480px) {
    .container {
        width: 100%;
        height: auto;
        margin: 0;
        overflow: auto;
    }
    header {
        width: 100%;
        height: 50px;
        background-color: #3a758c;
    }
    .sidebar-left {
        width: 100%;
    }
    .list-menu li {
        width: 80%;
        margin: 10px 0;
        background-color: #82b9d1;
        padding: 10px;
        list-style-type: none;
    }
    .list-menu a {
        text-decoration: none;
    }
    main {
        width: 100%;
        height: auto;
        float: left;

    }
    footer {
        width: 100%;
        height: 50px;
        background-color: #cf2c2c;
        float: left;
    }
    .sidebar-right {
        width: 100%;
        height: auto;
        background-color: #d89696;
        float: right;
    }
}
